body {
	font-family: Georgia, serif;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 100px; 
}

h3 {
	color: #ffffff; 
	font-size: 50px; 
}

h4 {
	font-size: 2em; 
}

h5 {
	font-size: 1.5em; 
}

.hero {
	background: #232323;
	background-position: center top;
	background-size: cover;
	padding: 100px 0;
	margin: 30px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.blockgrey{
	background: #232323;
  	margin: 60px auto;
 	padding: 10px;
  	width: 100%;	
}

.blockwhite{
	background: #FFF;
  	margin: 60px auto;
 	padding: 10px;
  	width: 100%;	
}

.dice{
	display: inline-block;
	width: 250px;
   	height: 350px;
    	margin: 10px;
	text-align: center;
}

.white{	
	color: #FFF
}

p {
	color: black;
	font-size: 2em;
	text-align: left;
	padding: 5px;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  margin: 0;
  list-style: none;
}
