body {
	font-family: Trebuchet MS, serif;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 32px;
}

h2 {
	color: #ffffff;
	font-size: 100px; 
}

h3 {
	color: #ffffff; 
	font-size: 50px; 
}

h4 {
	font-size: 50px;
	margin: 20px;
}

h5 {
	font-size: 2em
	margin: 20px; 
}

h6 {
	text-align: left;
	font-size: 2em;
	font-weight: bold;
	padding: 0px 0px 0px 100px;
}

.hero {
	background: #232323;
	background-position: center top;
	background-size: cover;
	padding: 100px 0;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
}

.blockgrey{
	background: #232323;
  	margin: 0px auto;
 	padding: 2px;
  	width: 100%;
	color: #FFF
}

.blockwhite{
	background: #FFF;
  	margin: 0px auto;
 	padding: 2px;
  	width: 100%;	
}

.dice{
	display: inline-block;
	width: 250px;
   	height: auto;
    	margin: 10px;
	text-align: center;
	vertical-align: top;
}

.white{	
	color: #FFF
}

p {
	color: black;
	font-size: 2em;
	text-align: left;
	padding: 5px 100px;
}

#footer {
	color: DarkSlateGray;
	font-size: 16px;
}

ul {
 	padding: 0;
  	margin: 10px 0px;
  	list-style: none;
}

ol {
	text-align: left;
	padding: 5px 100px 5px 120px;
	margin: 10px 0px;
}

li {
  	margin: 0;
	font-size: 32px;
}
